<div id="contentholder">
    <img src="/images/tool.png" style="width:20%" />
    <p><strong>Tool library</strong></p>
    
    <div class="field has-addons" style="width: 80%">
        <div class="control">
            <a class="button is-static"><i class='fa fa-search'></i></a>
        </div>
        <div class="control is-expanded">
            <input id="toolsearch" style="width: 100%" class="input" type="text" placeholder="Search for a tool.">
        </div>
    </div>
    <a href="/tools/add" class="button is-info">Add new tool</a>
    <div id="toolbox">
        {{#each this.tools}}
            <div class="toolcard box" id="{{id}}" searchstring="{{generateSearchString attributes}}{{#if machine}} machine: {{machine}}{{/if}}">
                <a onclick="deleteTool('{{id}}')" class="deletebutton tag button is-danger">Delete op</a>
                <p class="toolattributesprinted {{id}}">{{prettyStringifyObject attributes}}{{#if machine}}<strong>machine: {{machine}}</strong>{{/if}}</p>
            </div>
        {{/each}} 
    </div>
</div>

<style>

    .deletebutton {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .slideout {
        animation: slideout 1s forwards ease-out;
    }

    @keyframes slideout {
        0% {
            position: relative;
            left: 0;
            opacity: 1;
            max-height: 1000px;

        }
        100% {
            position: relative;
            left: 100%;
            opacity: 0;
            max-height: 0px;
            padding: 0;
            margin: 0;
        }
    }

    .toolcard { 
        padding-right: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 50px;
        width: 100%;
        border: 1px solid rgb(201, 201, 201);
        position: relative;
    }
    
    #contentholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%
    }

    #contentholder > * {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #toolbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #toolbox > * {
        margin-bottom: 2px;
        margin-top: 2px;
    }
</style>

<script>
    document.getElementById("toolsearch").addEventListener('input', (event) => {
        let search = event.srcElement.value.toLowerCase().trim();
        if (!search) {
            document.querySelectorAll(".toolcard").forEach(element => element.style.display = "flex");
            return;
        }
        document.querySelectorAll(".toolcard").forEach(element => {
                element.style.display = (element.getAttribute("searchstring").toLowerCase().indexOf(search) == -1 ? "none" : "flex");
        })
    })

    function deleteTool(id) {
        axios.post("http://{{WEBSITE_IP}}:3000/api/ops/delete", {toolId: id}).then(r => {
            if (r.data.status == "ok") {
                document.querySelector("#box-" + opId).classList.add("slideout");
            }
        })
    }

</script>