<base href="/parts/{{this.part.partId}}/" />
<div id="contentholder">
    <img src="/images/part.png" style="width:50%; max-width: 180px;" />
    <p style="margin-bottom: 8px;"><strong>{{this.part.partName}}</strong></p>
    <a href="addOp/" class="button is-info">Add new op</a>
    <a href="/parts" class="button is-info">Return to part library</a>
    <div id="opbox">
        {{#each this.part.ops}}
            <div id="box-{{opId}}" class="opcard box" style="width:80%; position: relative;">
                <a href="{{opId}}/edit" class="editbutton tag button is-info">Edit op</a>
                <a onclick="deleteOp('{{opId}}')" class="deletebutton tag button is-danger">Delete op</a>
                <p class="title is-4">Op {{opCode}} - {{opName}}</p>
                <p class="subtitle is-6">Completion time - {{intervalsToTime intervals}}</p>
                <div class="machinetagcontainer" style="margin-bottom: 20px">
                    <p>Can be done on these machines:</p>
                    <div class="tags">
                        {{#each machines}}
                            <div class="tag">{{this}}</div>
                        {{/each}}
                        <a href="{{opId}}/machines" class="tag button is-info">Edit machines</a>
                    </div>
                </div>
                <div class="tooltagcontainer">
                    <p>Needs these tools to be completed:</p>
                    <div class="tags">
                        {{#each tools}}
                            <div class="tag">{{this}}</div>
                        {{/each}}
                        <a href="{{opId}}/tools" class="tag button is-info">Edit tools</a>
                    </div>
                </div>
                {{#if isSequential}}
                    <div class="tooltip seqchain">
                        <img src="/images/chains.png" />
                            <span class="tooltiptext">These two operations are sequential, they will be performed one-after-another in the same machine.</span>
                    </div>
                {{/if}}
            </div>
        {{/each}} 
    </div>
</div>

<style>
    .editbutton {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .deletebutton {
        position: absolute;
        top: 37px;
        right: 10px;
    }

    /* HOVER TOOLTIP TAKEN FROM https://www.w3schools.com/howto/howto_css_tooltip.asp */

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -150px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    /* END HOVER TOOLTIP */ 

    .seqchain {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 90%;
        left: 46%;
        z-index: 100;
    }

    a {
        text-decoration: none !important;
    }
    
    #contentholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%
    }

    #contentholder > * {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #opbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #opbox > * {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .slideout {
        animation: slideout 1s forwards ease-out;
    }

    @keyframes slideout {
        0% {
            position: relative;
            left: 0;
            opacity: 1;
            max-height: 1000px;

        }
        100% {
            position: relative;
            left: 100%;
            opacity: 0;
            max-height: 0px;
            padding: 0;
            margin: 0;
        }

    }
</style>

<script>
    function deleteOp(opId) {
        axios.post("http://{{WEBSITE_IP}}:3000/api/ops/delete", {opId: opId}).then(r => {
            if (r.data.status == "ok") {
                document.querySelector("#box-" + opId).classList.add("slideout");
            }
        })
    }
</script>